@import '../../styles/variables.css';

.modal {
  position: absolute;
  background: var(--alpha);
  width: 700px;
  height: 500px;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.iconBox {
  background: var(--danger);
  height: 100%;
  cursor: pointer;
}
.icon {
  width: 40px;
  padding: 10px;
}
.modalHeader {
  height: 8%;
}
.list {
  overflow-y: scroll;
  height: 80%;
  margin: 5px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
}
.subtitle {
  color: var(--charlie);
  font-size: 14px;
}
.item:hover .subtitle {
  color: var(--alpha);
}
.list::-webkit-scrollbar {
  width: 5px;
}
.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.list::-webkit-scrollbar-thumb {
  background: #888;
}
.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item:hover {
  background: var(--light);
  color: var(--alpha);
}
.modalHeader {
  display: flex;
  border-bottom: 1px solid var(--charlie);
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
}
.footer {
  display: flex;
  height: 12%;
  align-items: center;
  padding: 10px;
  background: rgb(29, 29, 29);
}
.footer > * {
  border-radius: 3px;
}
.inputBox {
  width: 60%;
  position: relative;
}
.input {
  width: 100%;
  padding: 10px;
  color: #000;
  font-weight: bold;
  width: 100%;
  border-radius: 3px;
}
.clearInput {
  width: 30px;
  position: absolute;
  background: var(--alpha);
  padding: 8px;
  border-radius: 100px;
  opacity: 0.7;
  right: 5px;
  bottom: 5px;
  top: 5px;
  cursor: pointer;
}
.clearInput:hover {
  opacity: 1;
}
.btn {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--info);
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
  font-weight: bold;
}
.btn:hover {
  background: #fff;
  color: var(--info);
}
